<launch>

    <!-- Robot Description --> <param name="robot_description" textfile="/etc/ros/kinetic/urdf/robot.xml" />

    <!-- Robot Analyzer --> <rosparam command="load" file="$(find pr2_bringup)/config/pr2_analyzers.yaml" ns="diag_agg" />

    <arg name="c2" default="true"/>
    
    <!-- Robot bringup -->
    <include file="$(find pr2_bringup)/pr2.launch">
        <arg name="c2" value="$(arg c2)"/>
    </include>
    
    <include file="/etc/ros/kinetic/ft.launch" />

    <rosparam file="/etc/ros/robot.yaml"/>

</launch> 
