<launch>

    <!-- Robot Description --> <param name="robot_description" textfile="/etc/ros/indigo/urdf/robot.xml" />

    <!-- Robot Analyzer --> <rosparam command="load" file="$(find pr2_bringup)/config/pr2_analyzers.yaml" ns="diag_agg" />

    <!-- Robot bringup --> <include file="$(find pr2_bringup)/pr2.launch" />

    <include file="/etc/ros/indigo/ft.launch" />

    <rosparam file="/etc/ros/robot.yaml"/>

</launch> 
